<!DOCTYPE html>
<html lang = "eng">
    <head>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
        <title> Doctor Dashboard </title>
    </head>
    <body>
    <h1>Doctor Dashboard</h1>
    <hr>

    <h2>Patient Report Queue:</h2>

    <ul>
        {% for report in reports %}
        
        <li>
            <a href="{% url 'patient_detail' report.patient_id %}">
            <strong> Patient ID: </strong> {{ report.patient_id }} |
            <strong> Name: </strong> {{report.patient_name }} |
            <strong> Status: </strong> {{report.verdict }}
        </a>
        </li>
        {% empty %}
        <p> No pending reports in the system.</p>
        {% endfor %}
        
    </ul>
    </body>
</html>
